Package: rekols-dict-dbgsym
Source: rekols-dict
Version: 0.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: rekols <rekols@foxmail.com>
Installed-Size: 1230
Depends: rekols-dict (= 0.1-1)
Section: debug
Priority: extra
Homepage: https://github.com/rekols
Description: Debug symbols for rekols-dict
Build-Ids: bd529f2651f345489052c68ef4fe76f4396820e1
