[Desktop Entry]
Categories=Utility;
Comment=redict
Exec=redict
Icon=redict
Name=Redict
StartupNotify=true
TryExec=redict
Type=Application

# Translations
Name[zh_CN]=Redict
