[Desktop Entry]
Categories=Utility;
Comment=redict
Exec=redict
Icon=redict
Name=Rekols's Dictionary
StartupNotify=true
TryExec=redict
Type=Application

# Translations
Name[zh_CN]=R词典
