[Desktop Entry]
Categories=Application;Utility;Dictionary;
Encoding=UTF-8
Exec=/usr/bin/rekols-dict
Icon=deepin-translator
Name=Rekols Dict
Name[zh_CN]=Rekols词典
Name[zh_TW]=Rekols词典
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false
