QTabBar, QTabBar::tab
{
    font-size: 16px;
    height: 18px;
    padding: 10px;
    border: 0px;
    background-color: transparent;
    color: palette(text);
    width: 60px;
}

QTabBar::tab:hover
{
    background-color: #2A2A2A;
    text-decoration: underline;
}

QTabBar::tab:selected
{
    color: #2CA7F8;
    border: 0px;
    border-bottom: 2px solid #2CA7F8;
}

#SearchEdit {
    border: 1px solid #414141;
    border-radius: 5px;
    background: #414141;
}