Source: redict
Section: utils
Priority: optional
Maintainer: Rekols <rekols@foxmail.com>
Build-Depends: debhelper (>= 9),pkg-config, qt5-qmake, libdtkwidget-dev, libqt5svg5-dev, qttools5-dev-tools
Standards-Version: 3.9.8
Homepage: https://github.com/rekols

Package: redict
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A third-party youdao dictionary for deepin.
