Source: rekols-dict
Section: base
Priority: optional
Maintainer: rekols <rekols@foxmail.com>
Build-Depends: debhelper (>= 9), pkg-config, qt5-default, dpkg-dev, qt5-qmake, qtbase5-dev, libdtkbase-dev, libdtkwidget-dev, libdtkutil-dev
Standards-Version: 1.0
Homepage: https://github.com/rekols

Package: rekols-dict
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A simple dictionary for deepin.
