QPlainTextEdit {
    margin:0;
    border: 0;
    color: #FFFFFF;
}

#FloatText {
    color: #FFFFFF;
}

#TrLabel {
    color: #BCBCBC;
}

#TrContent {
    border: 1px solid #505050;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px;
}
